h1.section-title sub {
	font-size: 0.5em;
	color: #007AFF;
}

#playbook #playbook-logged-in,
#playbook.logged-in #playbook-login {
	display: none;
}

#playbook.logged-in #playbook-logged-in,
#playbook #playbook-login {
	display: block;
}

.field {
	position: relative;
	background: #4CD964;
}

.field img {
	display: block;
}

.field-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.field-overlay #disc,
.field-overlay .player {
	position: absolute;
	top: 0px;
	left: 0px;
}

#play-controls-container {
	background: #8E8E93;
	padding-left: 12px;
}

#play-select,
#play-option-select {
	font-size: 1.8em;
	margin-top: 12px;
}

#play-controls {
	float: right;
	display: inline-block;
}

button.control {
	padding: 12px;
}

button.control img {
	display: block;
}

#play-description {
	padding: 0 12px;
}