---
layout: default
title: Bird Ultimate
---
<a name="top"></a>
<div class="page-banner">
	<img src="/assets/images/banner-bvon.png"/>
	<div class="banner-overlay">
		<div class="content-container">
			<span class="banner-top-left">fly.</span>
			<span class="banner-bottom-right">bird ultimate</span>
		</div>
	</div>
</div>
<a name="news"></a>
<div class="news">
	<div class="content-container content-section">
		<h1 class="section-title">news from the nest</h1>
		{% for post in site.posts %}
		  <div class="post">
		    <h2 class="post-title">{{ post.title }}</h2>
		    <p class="meta">Posted on {{ post.date | date_to_string }} by {{ post.author }}</p>
		    <a href="http://www.facebook.com/sharer.php?u=http://www.birdultimate.com{{ post.url }}" target="_blank" class="post-share-button share-fb"><img src="/assets/images/social-icon-fb.png" title="Share on Facebook"/></a>
		    <a href="http://twitter.com/share?url=http://www.birdultimate.com{{ post.url }}" target="_blank" class="post-share-button share-tw" title="Share on Twitter"><img src="/assets/images/social-icon-tw.png"/></a>
		    <a href="https://plus.google.com/share?url=http://www.birdultimate.com{{ post.url }}" target="_blank" class="post-share-button share-gp"><img src="/assets/images/social-icon-gp.png" title="Share on Google+"/></a>
		    <a href="http://reddit.com/submit?url=http://www.birdultimate.com{{ post.url }}&title={{ post.title }}" target="_blank" class="post-share-button share-rd"><img src="/assets/images/social-icon-rd.png" title="Post to Reddit"/></a>
		    <a href="mailto:?Subject={{ post.title }}&Body=http://www.birdultimate.com{{ post.url }}" class="post-share-button share-em"><img src="/assets/images/social-icon-em.png" title="Email"/></a>
		    <div class="post-excerpt">
		    	{{ post.excerpt }}
		    	<input class="post-read-more" type="button" value="read more"/>
		    </div>
		    <div class="post-content">
		    	{{ post.content }}
		    	<input class="post-read-less" type="button" value="read less"/>
		    </div>
		  </div>
		{% endfor %}
	</div>
</div>
<a name="results"></a>
<div class="results">
	<div class="content-container content-section">
		<h1 class="section-title">schedule & results</h1>
		<p>At this time we have not set our tournament schedule for the year. We will likely be attending some subset of the following events:</p>
		<ul>
			{% for tournament in site.data.tournaments %}
				<li>
					{{ tournament.name }},
					{{ tournament.date }},
					{{ tournament.location }}
				</li>
			{% endfor %}
		</ul>
	</div>
</div>
<a name="team"></a>
<div class="team">
	<div class="content-container content-section">
		<h1 class="section-title">meet the team</h1>
		{% for player in site.data.players %}
		  <div class="player-container">
		  	<img src="/assets/images/headshot_default.png">
		  	<div class="player-overlay">
		  		<span class="number">{{ player.number }}</span>
		  		<div class="name">
		  			<p class="first">{{ player.nameFirst }}</p>
		  			<p class="last">{{ player.nameLast }}</p>
		  		</div>
		  	</div>
		  </div>
		{% endfor %}
		<div class="clear-all"><!-- --></div>
		<p>Dan Schmit, Tobie Miller, and Andrew Kelley are your Bird Captains for 2014.  The rest of the roster will be announced in early June.</p>
	</div>
</div>
<a name="about"></a>
<div class="about">
	<div class="content-container content-section">
		<h1 class="section-title">about bird</h1>
		<p>Bird is an ultimate frisbee club from Minneapolis, Minnesota. Bird competes in the Select Flight of the USA Ultimate Mixed Club Series.</p>
		<p>Founded in 2012, Bird brought together various groups of talented Minnesota players, many with Carleton, St. Olaf or South High School roots. In that inaugural season, Bird would compile a 20-9 record, finishing 5th at North Central Regionals. In 2013, the team would compete in its first Regional final en route to a 3rd place finish, and hold the dubious honor of being the only team to defeat eventual National Champion Drag'n Thrust in the USAU Series.</p>
		<p>The team has high expectations coming into the 2014 season, looking to become even more competitive and raise its profile on the national level.</p>
		<img src="/assets/images/team-2013.png"/>
	</div>
</div>
<a name="contact"></a>
<div class="contact">
	<div class="content-container content-section last">
		<h1 class="section-title">contact us</h1>
		<div id="contact-form">
			<div class="form-validation-msgs">
				<ul>
					<li class="validation-msg-name">please enter your name</li>
					<li class="validation-msg-email">please enter a valid email address</li>
					<li class="validation-msg-subject">please enter a subject</li>
					<li class="validation-msg-message">please enter a message</li>
				</ul>
			</div>
			<div class="form-section narrow">
				<label for="contact-form-name">name</label>
				<input id="contact-form-name" type='text'/>
				<label for="contact-form-email">email</label>
				<input id="contact-form-email" type='text'/>
				<label for="contact-form-subject">subject</label>
				<input id="contact-form-subject" type='text'/>
			</div>
			<div class="form-section wide">
				<label for="contact-form-message">message</label>
				<textarea id="contact-form-message"></textarea>
			</div>
			<input id="contact-form-submit" type='button' value='submit' />
			<div class="clear-all"><!-- --></div>
		</div>
		<div class="form-section">
			<div class="fb-like-box" data-href="https://www.facebook.com/BirdUltimate" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
		</div>
		<div class="form-section">
			<p class="centered">
				Find a bug, or have a suggestion about how to improve this site?
				<a href="https://github.com/birdultimate/birdultimate.github.io/issues/new">Report it on GitHub</a>.
			</p>
		</div>
		<div class="clear-all"><!-- --></div>
	</div>
</div>
