---
layout: default
---
<div class="news">
	<div class="container-fluid content-section last">
		<div class="post card card-2 feature">
      {% if page.cover %}
      	<img src="/assets/images/{{ page.cover }}_cover.png" class="cover"/>
      {% else %}
        <img src="http://dummyimage.com/800x300/000/fff.png" class="cover"/>
      {% endif %}
      <div class="card-content card card-2">
        <h2>{{ page.title }}</h2>
      	{% if page.subtitle %}
      		<h3>{{ page.subtitle }}</h3>
      	{% endif %}
        <p class="meta">By {{ page.author }} | {{ page.date | date: "%B %-d, %Y" }} {% if page.readtime %} | <i class="fa fa-clock-o"></i> {{ page.readtime }} min read{% endif %}</p>
        {{ content }}
      </div>
    </div>
	</div>
</div>
