@import 'partials/paper';

/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  font-size: 16px;
  text-align: left;
  line-height: 1.5em;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; 
}

p { margin: 1em 0; }

a { 
  color: #007AFF; 
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

em {
  font-weight: normal;
}

.row {
  margin: 0;
}

.clear-all {
  clear: both;
}

.centered {
  text-align: center;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.content {
  position: relative;
  min-height: 100%;
  height: auto !important;
  margin-bottom: -82px;
}

.header-offset {
  padding-top: 64px;
}

.container-fluid {
  max-width: 1200px;
}

.content-container {
  position: relative;
  width: 960px;
  margin: 0 auto;
}

.content-section {
  padding: 2em 0.5em;
}

.content-section .section-title {
  font-size: 3em;
  font-weight: normal;
  line-height: 1.2em;
  margin-bottom: 20px;
}

@media screen and (max-width: 480px) {
  .content-section .section-title {
    font-size: 2em;
    line-height: 1.2em;
  }
}

.content-section.last{
  padding-bottom: 6em;
}

@media screen and (max-width: 960px) {
  .content-container {
    width: 100%;
    margin: 0;
  }
}

.footer {
  position: relative;
  width:100%;
  height:82px;
  background: #FFF;
  font-size: 0.75em;
  color: #666;

  &.dark-gray {
    background: #616161;
    color: #FFF;
  }

  &.light-gray {
    background: #E7E7E7;
  }
}

.footer p {
  text-align: center;
  margin: 0;
  padding-top: 10px;
}

/*****************************************************************************/
/*
/* Banner
/*
/*****************************************************************************/

@import 'partials/bird/page-banner';

/*****************************************************************************/
/*
/* News
/*
/*****************************************************************************/

.news {
  background: #E7E7E7;
}

@import 'partials/bird/posts';

/*****************************************************************************/
/*
/* Schedule & Results
/*
/*****************************************************************************/

@import 'partials/bird/results';

/*****************************************************************************/
/*
/* Players
/*
/*****************************************************************************/

.player-container {
  position: relative;
  background: #F7F7F7;
  width: 22.49%;
  margin: 1.25%;
  float: left;
}

@media screen and (max-width: 720px) {
  .player-container {
    background: #F7F7F7;
    width: 30%;
    margin: 1.65%;
  }
}

@media screen and (max-width: 480px) {
  .player-container {
    background: #F7F7F7;
    width: 45%;
    margin: 2.49%;
  }
}

.player-container img {
  width: 100%;
  display: block;
}

.player-overlay {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right:0;
  bottom: 0;
  background: rgba(0, 122, 255, 0.6);
  color: #FFF;
  overflow: hidden;
}

.player-container:hover .player-overlay {
  display: block;
}

.player-overlay .number {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right:0;
  bottom: 0;
  font-weight: bold;
  font-size: 9em;
  line-height: 1.0em;
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
} 

.player-overlay .name {
  position: absolute;
  display: block;
  left: 0;
  right:0;
  bottom: 0;
}

.player-overlay .name p {
  padding: 0 10px;
  font-size: 1.6em;
  margin: 0.25em 0;
  line-height: 1em;
}

.player-overlay .name p.last {
  font-weight: bold;
}

/*****************************************************************************/
/*
/* About
/*
/*****************************************************************************/

.about {
  background: #616161;
  color: #fff;
  position: relative;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  h1 {
    color: #FFF;
  }

  img {
    width: 100%;
    height: auto;
  }
}

