@import 'partials/paper';

/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  font-size: 16px;
  text-align: left;
  line-height: 1.5em;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; 
}

p { margin: 1em 0; }

a { 
  color: #007AFF; 
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

em {
  font-weight: normal;
}

.clear-all {
  clear: both;
}

.centered {
  text-align: center;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.content {
  position: relative;
  min-height: 100%;
  height: auto !important;
  margin-bottom: -40px;
}

.header-offset {
  padding-top: 64px;
}

.container-fluid {
  max-width: 1200px;
}

.content-container {
  position: relative;
  width: 960px;
  margin: 0 auto;
}

.content-section {
  padding: 2em 0.25em;
}

.content-section .section-title {
  font-size: 3em;
  font-weight: normal;
  line-height: 1.2em;
  margin-bottom: 20px;
}

@media screen and (max-width: 480px) {
  .content-section .section-title {
    font-size: 2em;
    line-height: 1.2em;
  }
}

.content-section.last{
  padding-bottom: 6em;
}

@media screen and (max-width: 960px) {
  .content-container {
    width: 100%;
    margin: 0;
  }
}

.footer {
  position: relative;
  width:100%;
  height:40px;
  background:#F7F7F7;
  font-size: 0.75em;
  color: #666;
}

.footer p {
  text-align: center;
  margin: 0;
  padding-top: 10px;
}

/*****************************************************************************/
/*
/* Buttons
/*
/*****************************************************************************/

button,
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 6px 24px;
  border: none;
  font-size: 1.5em;
  line-height: 1.5em;
  color: #FFF;
  cursor: pointer;
  background: #8E8E93;
}

button:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
  background: #C7C7CC;
}

/*****************************************************************************/
/*
/* Banner
/*
/*****************************************************************************/

@import 'partials/bird/page-banner';

/*****************************************************************************/
/*
/* News
/*
/*****************************************************************************/

.news {
  background: #E7E7E7;
}

@import 'partials/bird/posts';

/*****************************************************************************/
/*
/* Schedule & Results
/*
/*****************************************************************************/

.results {
  background: #FFF;
  position: relative;
}

.results img {
  width: 100%;
  height: auto;
}

.results-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right:0;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.results ul {
  list-style-position: inside;
}

.results ul li{
  margin: 0.5em 0;
}

/*****************************************************************************/
/*
/* Players
/*
/*****************************************************************************/

.player-container {
  position: relative;
  background: #F7F7F7;
  width: 22.49%;
  margin: 1.25%;
  float: left;
}

@media screen and (max-width: 720px) {
  .player-container {
    background: #F7F7F7;
    width: 30%;
    margin: 1.65%;
  }
}

@media screen and (max-width: 480px) {
  .player-container {
    background: #F7F7F7;
    width: 45%;
    margin: 2.49%;
  }
}

.player-container img {
  width: 100%;
  display: block;
}

.player-overlay {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right:0;
  bottom: 0;
  background: rgba(0, 122, 255, 0.6);
  color: #FFF;
  overflow: hidden;
}

.player-container:hover .player-overlay {
  display: block;
}

.player-overlay .number {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right:0;
  bottom: 0;
  font-weight: bold;
  font-size: 9em;
  line-height: 1.0em;
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
} 

.player-overlay .name {
  position: absolute;
  display: block;
  left: 0;
  right:0;
  bottom: 0;
}

.player-overlay .name p {
  padding: 0 10px;
  font-size: 1.6em;
  margin: 0.25em 0;
  line-height: 1em;
}

.player-overlay .name p.last {
  font-weight: bold;
}

/*****************************************************************************/
/*
/* About
/*
/*****************************************************************************/

.about {
  background: #000;
  color: #fff;
}

/*****************************************************************************/
/*
/* Contact Form
/*
/*****************************************************************************/

.form-validation-msgs ul {
  display: none;
  list-style-position: inside;
  color: #FF3B30;
  margin: 2.49% 2.49% 0;
}

.form-section {
  float: left;
  margin: 2.49%;
  width: 45%;
}

.form-section.narrow {
  width: 30%;
}

.form-section.wide {
  width: 60%;
}

@media screen and (max-width: 480px) {
  .form-section,
  .form-section.narrow, 
  .form-section.wide {
    width: 95%;
  }
}

.form-section input[type="text"],
.form-section textarea {
  width: 100%;
}

.form-section textarea {
  resize: none;
  height: 16em;
}

#contact-form-submit {
  float: right;
  margin: 0 2.49%;
}

@media screen and (max-width: 480px) {
  #contact-form-submit {
    width: 95%;
  }
}

#fb-root {
    display: none;
}

.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    width: 100% !important;
}

.fb-like-box > span,
.fb-like-box > span > iframe {
  height: 241px !important;
}

@media screen and (max-width: 630px) {
  .fb-like-box > span,
  .fb-like-box > span > iframe {
    height: 291px !important;
  }
}

@media screen and (max-width: 516px) {
  .fb-like-box > span,
  .fb-like-box > span > iframe {
    height: 341px !important;
  }
}

@media screen and (max-width: 480px) {
  .fb-like-box > span,
  .fb-like-box > span > iframe {
    height: 241px !important;
  }
}

.game {

  img {
    height: 48px;
    width: 48px;
  }
}

